body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}
canvas {
    padding: 0;
    margin: 0;
}
input {
    position: absolute;
    visibility: hidden;
    font-size: 18px;
    font-family: Tahoma,sans-serif;
    background-color: #F0E68C;
}
